{% extends "base.html" %}
{% block content %}

<div class="main">
    <section class="summary border container">
      <div class="row">
        <div class="col-12">
          <!-- Heading -->
          <h2 class="heading">Complete Booking</h4>
        </div>
      </div>
      <!-- Reservation Name -->
      <div class="row">
        <form class="col-12" method="POST" action="{{ url_for('add_customer') }}">
            <div class="form-row center">
                <div class="col-sm-12 col-md-6">
                    <!-- First Name -->
                    <label for="first_name" class="uppercase">First Name</label>
                    <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First name" minlength="3" maxlength="50" required>

                    <!-- Last Name-->
                    <label for="last_name" class="uppercase">Last Name</label>
                    <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last name" minlength="3" maxlength="50" required>

                    <!-- Customer's Mobile-->
                    <label for="customer_contact" class="uppercase">Mobile</label>
                    <input id="customer_contact" name="customer_contact" type="number" class="form-control" placeholder="Mobile" minlength="3" maxlength="50" required>

                    <!-- Customer's Email-->
                    <label for="customer_email" class="uppercase">Email</label>
                    <input id="customer_email" name="customer_email" type="email" class="form-control" placeholder="Email" minlength="3" maxlength="50" required>

                    <!-- Reservation Date -->
                    <label for="reservation_date" class="uppercase">Date of Booking</label>
                    <input id="reservation_date" name="reservation_date" type="datetime" class="form-control" placeholder="Date of Booking" required>
                </div>
            </div>
      </div>

      <!-- Submit Button -->
      <div class="row reservation-btns">
        <div class="col-12">
            <button type="submit" class="btn btn-view-booking">
            <i class="fa-solid fa-plus"></i> Complete Booking
        </button>      
        </div> 
     </div>
    </form>

     <div class="row">
        {% for reservation in reservations %}
        <!-- Reservation Contact Cards -->
        <div class="col-sm-12 col-md-4">
            <div class="card center">
                <div class="card-body">
                  <h5 class="card-title">{{ reservation.reservation_name }}</h5>
                </div>
                <!-- Confirm Booking Button-->
                <div class="row center">
                    <a href="{{ url_for('amend-booking.html', reservation_id)}}" class="btn btn-view-booking">Confirm Booking</a>
                  </div>
              </div>
        </div>
        {% endfor %}
     </div>
    </section>
</div>
    
{% endblock %}
