{% extends "base.html" %}
{% block content %}

<div class="main">
    <section class="summary border container">
      <div class="row">
        <div class="col-12">
          <h2 class="heading">Make a booking with us today!</h4>

          <p>Buongiorno and welcome to our online booking page! Whether
            you're planning an intimate dinner for two or a festive
            gathering with family and friends, we are thrilled to host you
            at Ristorante Amalfi.</p>

          <p>Experience the rich flavors of authentic Italian cuisine in a
            warm, inviting atmosphere. Reserve your table today, and let us
            take care of the rest - from fresh pasta to delicious wines,
            every meal is a celebration of Italy's finest culinary
            traditions. We look forward to serving you!</p>
        </div>
      </div>

      <div class="row reservation-btns">
        <div class="col-12">
         <form action="{{ url_for('add_booking') }}">
             <button type="submit" class="btn btn-info"><i class="fa-solid fa-plus"></i> Add Booking</button>
           </form>       
        </div> 
     </div>

     <div class="row">
        {% for reservation in reservations %}
        <div class="col-sm-12 col-md-4">
            <div class="card center">
                <div class="card-body">
                  <h5 class="card-title">{{ reservation.reservation_name }}</h5>
                </div>
                <div class="row center">
                    <a href="{{ url_for('amend-booking.html', reservation_id)}}" class="btn btn-view-booking">Confirm Booking</a>
                  </div>
              </div>
        </div>
        {% endfor %}
     </div>
    </section>
</div>
    
{% endblock %}
