{% extends "base.html" %}
{% block content %}

<div class="main">
    <section class="summary border container">
      <div class="row">
        <div class="col-12">
          <h2 class="heading">Amend Booking</h4>
        </div>
      </div>
      <!-- Reservation Name -->
      <div class="row">
        <form class="col-12" method="POST" action="{{ url_for('amend_booking', reservation_id=reservation.id) }}">
            <div class="form-row center">
                <div class="col-sm-12 col-md-6">
                    <label for="reservation_name" class="uppercase" aria-label="Please enter your full name">Please enter your full name</label>
                    <input id="reservation_name" name="reservation_name" value="{{ reservation.reservation_name }}" type="text" class="form-control" placeholder="Full name" type="text" minlength="3" maxlength="50" required>
                </div>
            </div>
      </div>

      <!-- Submit Button -->
      <div class="row reservation-btns">
        <div class="col-12">
            <button type="submit" class="btn btn-view-booking" aria-label="Amend Booking">
            <i class="fa-solid fa-plus"></i> Amend Booking
        </button>      
        </div> 
     </div>
    </form>

     <div class="row">
        {% for reservation in reservations %}
        <div class="col-sm-12 col-md-4">
          <!-- Reservation Contact Cards -->
            <div class="card center">
                <div class="card-body">
                  <h5 class="card-title">{{ reservation.reservation_name }}</h5>
                </div>
                <!-- Confirm  Button -->
                <div class="row center">
                    <a href="{{ url_for('amend-booking.html', reservation_id)}}" class="btn btn-view-booking" aria-label="Confirm Booking">Confirm Booking</a>
                  </div>
              </div>
        </div>
        {% endfor %}
     </div>
    </section>
</div>
    
{% endblock %}
