<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
      <meta name="description" content="Italian restaurant in Manchester, UK">
      <meta name="keywords" content="Italian, Restaurant, Food">
    <!-- Bootstrap Stylesheet -->
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" type="text/css"/>
      <!-- External Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"/>
    <!-- Page Title -->
    <title>Ristorante Amalfi</title>

    <!-- EmailJS Script -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey: "OqIVy09IQAJHvq796",
      });
   })();
</script>

  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gunmetal">
      <a href="{{ url_for('home') }}" class="navbar-brand"><i class="fa-solid fa-utensils"></i> Ristorante Amalfi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar" aria-label="Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}" aria-label="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('menu') }}" aria-label="Menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bookings') }}" aria-label="Bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('contact') }}" aria-label="Contact Us">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Hero Image -->
    <div class="hero-image">
      <img src="{{ url_for('static', filename='images/hero-image.jpg') }}" class="hero-image" alt="A table of Italian food.">
</div>
    <div class="main">
      <div class="container">
        <div class="row">
          <!-- Heading -->
          <div class="col-12"> <div class="column p-3 border">
            <h2 class="heading">Contact Us</h2>

            <!-- Contact Form -->
            <div class="center-form">
              <form onsubmit="return sendMail(this);">
                <div class="row">
                  <!-- Name -->
                  <div class="col-sm-12 col-md-6">
                    <input type="text" name="name" id="fullname" class="form-control form-labels" placeholder="Name" required>
                  </div>
                </div>

                <div class="row">
                  <!-- Email -->
                  <div class="col-sm-12 col-md-6">
                    <input type="text" name="email" id="emailaddress" class="form-control form-labels" placeholder="Email" required>
                  </div>
                </div>
                
                <!-- Text Area -->
                <textarea rows="5" name="messagecontent" id="messagecontent" class="form-control form-labels" placeholder="Message description" required></textarea>
                <!-- Submit Button -->
                  <div class="col contact-btn">
                    <button type="submit" class="btn btn-info" aria-label="Send Message">Send Message</button>
                  </div>
              </form>
            </div>
          </div></div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <h1><i class="fa-solid fa-utensils"></i> Ristorante Amalfi</h1>
      <div class="row">
        <!-- Address Column -->
        <div class="col-sm-12 col-md-4">
          <h3 class="footer-headings">
            <i class="fa-solid fa-map-pin"></i> Address
          </h3>
          <p>6 Ashton Old Rd, Manchester, England, M6N 8AP</p>

          <h3 class="footer-headings">Phone</h3>
          <p>0161 973 4738</p>

          <h3 class="footer-headings">Email</h3>
          <p>info@ristoranteamalfi.co.uk</p>
        </div>
        <!-- Opening Hours Column -->
        <div class="col-sm-12 col-md-4">
          <h3 class="footer-headings">
            <i class="fa-regular fa-clock"></i> Opening Hours
          </h3>
          <h4 class="footer-headings opening-hours">Sunday - Friday</h4>
          <p>4:00PM - 22.00PM</p>

          <h4 class="footer-headings opening-hours">Saturday</h4>
          <p>12:00PM - 23.00PM</p>
        </div>
        <!-- Map Column-->
      <gmp-map
      center="53.473557,-2.183071"
      zoom="12"
      map-id="DEMO_MAP_ID"
      style="height: 300px"
    >
      <gmp-advanced-marker
        position="53.473557,-2.183071"
        title="Ristorante Amalfi"
      ></gmp-advanced-marker>
      <gmp-advanced-marker
        position="53.473557,53.473557"
        title="Manchester, United Kingdom"
      ></gmp-advanced-marker>
    </gmp-map>
        <div class="col-sm-12 col-md-4">
          <i class="fa-solid fa-location-crosshairs"></i>
        </div>
      </div>
      <p class="credits">© 2025 Ristorante Amalfi. All rights reserved.</p>
    </footer>
    <!-- Scripts -->
    <script
      src="https://kit.fontawesome.com/9126144eb8.js"
      crossorigin="anonymous"
    ></script>
    <!-- JQuery Script -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous">
    </script>
    <!-- Popper Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous">
    </script>
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous">
    </script>
    <!-- Google Map Script -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA74vnWUhSEwo3M3QDFzeKAKyt_MJPf_yA&libraries=maps,marker&v=beta"
    defer
></script>
    <!-- External JavaScript Script -->
    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
  </body>
</html>