<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
      <meta name="description" content="Italian restaurant in Manchester, UK">
      <meta name="keywords" content="Italian, Restaurant, Food">
      <!-- Bootstrap Stylesheet -->
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" type="text/css"/>
    <!-- External Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
    <!-- Favicon-->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"/>

    <!-- Page Title -->
    <title>Ristorante Amalfi</title>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gunmetal">
      <a href="{{ url_for('home') }}" class="navbar-brand"><i class="fa-solid fa-utensils"></i> Ristorante Amalfi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('menu') }}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bookings') }}">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Hero Image -->
    <div class="hero-image">
      <img src="{{ url_for('static', filename='images/hero-image.jpg') }}" class="hero-image" alt="A table of Italian food.">
</div>
    <div class="main">
      <section class="summary">
        <div class="container border">
          <!-- Page Heading -->
          <h2 class="heading">Welcome to Ristorante Amalfi!</h2>
          <div class="row">
            <!-- Section Paragraph -->
            <div class="col-sm-12 col-md-6">
              <p>Located in the heart of Manchester, Ristorante Amalfi brings the
                essence of Italy to the city with its traditional yet contemporary
                Italian dining experience. The restaurant offers a warm, inviting
                atmosphere, perfect for a casual lunch, romantic dinner, or family
                gathering.</p>
  
              <p>Featuring a menu full of classic Italian dishes, Ristorante Amalfi
                prides itself on using the freshest, locally sourced ingredients,
                alongside imports from Italy to maintain authentic flavors.</p>
            </div>

            <!-- Empty Div for styling purposes -->
            <div class="col-sm-1 col-md-1"></div>
            <!-- Section Image -->
            <div class="col-sm-12 col-md-5">
              <div class="row">
                  <img src="{{ url_for('static', filename='images/italian-restaurant.jpg') }}" class="img-fluid meal-image"
                alt="An Itialian dish being served."/>
              </div>
            </div>
          </div>
  
          <div class="row phone-reservation">
            <div class="col-12">
              <p>To book via phone call you can contact us on <span id="phone-number">0161 973 4738.</span></p>
            </div>
          </div>
          <!-- Booking and Menu Buttons -->
          <div class="row summary-btns">
            <div class="col-6">
              <form action="{{ url_for('bookings') }}">
                <button type="submit" class="btn btn-info" aria-label="Book Now">Book Now</button>
              </form>
            </div>
            <div class="col-6">
              <form action="{{ url_for('menu') }}">
                <button type="submit" class="btn btn-info" aria-label="View Our Menu">View Our Menu</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <footer>
      <h1><i class="fa-solid fa-utensils"></i> Ristorante Amalfi</h1>
      <div class="row">
        <!-- Address Column -->
        <div class="col-sm-12 col-md-4">
          <h3 class="footer-headings">
            <i class="fa-solid fa-map-pin"></i> Address
          </h3>
          <p>6 Ashton Old Rd, Manchester, England, M6N 8AP</p>

          <h3 class="footer-headings">Phone</h3>
          <p>0161 973 4738</p>

          <h3 class="footer-headings">Email</h3>
          <p>info@ristoranteamalfi.co.uk</p>
        </div>
        <!-- Opening Hours Column -->
        <div class="col-sm-12 col-md-4">
          <h3 class="footer-headings">
            <i class="fa-regular fa-clock"></i> Opening Hours
          </h3>
          <h4 class="footer-headings opening-hours">Sunday - Friday</h4>
          <p>4:00PM - 22.00PM</p>

          <h4 class="footer-headings opening-hours">Saturday</h4>
          <p>12:00PM - 23.00PM</p>
        </div>

        <!-- Map Column -->
        <div class="col-sm-12 col-md-4">
          <i class="fa-solid fa-location-crosshairs"></i>
        </div>
      </div>

      <!-- Credits -->
      <p class="credits">© 2025 Ristorante Amalfi. All rights reserved.</p>
    </footer>
    <!-- Scripts -->

    <!-- Font Awesome Script -->
    <script
      src="https://kit.fontawesome.com/9126144eb8.js"
      crossorigin="anonymous"
    ></script>
    <!-- JQuery Script-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Popper Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>