{% extends "base.html" %}
{% block content %}

<div class="main">
    <section class="summary border container">
      <div class="row">
        <div class="col-12">
          <h2 class="heading">Make a booking with us today!</h4>

          <p>Buongiorno and welcome to our online booking page! Whether
            you're planning an intimate dinner for two or a festive
            gathering with family and friends, we are thrilled to host you
            at Ristorante Amalfi.</p>

          <p>Experience the rich flavors of authentic Italian cuisine in a
            warm, inviting atmosphere. Reserve your table today, and let us
            take care of the rest - from fresh pasta to delicious wines,
            every meal is a celebration of Italy's finest culinary
            traditions. We look forward to serving you!</p>

            <div class="center">
                <a href="{{ url_for('add_booking') }}" class="btn btn-view-booking">
                    <i class="fa-solid fa-plus"></i> Create Booking
                </a>
            </div>
        </div>
      </div>
      <!--
     <div class="row">
        {% for reservation in reservations %}
        <div class="col-sm-12 col-md-4">
            <div class="card center">
                <div class="card-body">
                  <h5 class="card-title">{{ reservation.reservation_name }}</h5>
                </div>
                <div class="row center">
                    <a href="{{ url_for('add-booking.html', reservation_id=reservation.id) }}" class="btn btn-view-booking">Add Booking</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    -->
    </section>
</div>

{% endblock %}
