/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  border-bottom: 5px solid #d77a61;
  align-items: end;
}
.bg-gunmetal {
  background-color: #223843;
}

.navbar-brand,
h1,
.meal-type {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#navbar {
  margin: 25px 0;
  justify-content: flex-end;
}

li a {
  color: #eff1f3;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 10px;
}
li a:hover {
  color: #d77a61;
}
.nav-link {
  padding: 0;
  margin: 15px;
}

.active {
  font-weight: 900;
  color: #d77a61;
  border-bottom: 2px solid #eff1f3;
}

.active:hover {
  color: #eff1f3;
}

.hero-image {
  padding-top: 0;
  margin: 0;
  height: 300px;
  background-image: url(/assets/images/hero-image.jpg);
  background-color: rgba(239, 241, 243, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: 130px auto;
  justify-content: center;
  background-color: rgba(239, 241, 243, 0.2);
}
.summary {
  text-align: justify;
  line-height: 40px;
  font-size: 1.25rem;
}

.row {
  margin-bottom: 10px;
}

.column,
.summary .container {
  padding: 40px;
  background-color: rgba(219, 211, 216, 0.2);
}

.heading {
  text-transform: uppercase;
  margin: 30px 0;
  text-align: center;
}

.meal-type {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin: 30px 0;
}

.btn-info {
  background-color: #d77a61;
  border: 2px solid #d77a61;
  color: #ffffff;
  font-weight: 700;
  height: 80px;
  width: 120px;
}

.btn-info:hover {
  background-color: #ffffff;
  color: #d77a61;
  border: 2px solid #d77a61;
}

.summary-btns {
  border-top: 1px solid #d77a61;
  margin: 80px 0 0;
  padding: 40px;
  justify-content: center;
  text-align: center;
}
footer {
  color: #eff1f3;
  border-top: 5px solid #d77a61;
  background-color: #223843;
  padding: 20px;
  width: 100%;
  bottom: 0;
}

.footer-headings {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.opening-hours {
  font-size: 18px;
  margin-top: 40px;
}

.credits {
  padding: 15px;
  border-top: 3px solid #d77a61;
  text-align: center;
}